img {
position: absolute;
top: 50%;
left: 50%;
height: 300px;
width: 600px;
margin-top: -250px;
margin-left: -250px;
}
.searchfield {
width: 450px;
height: 20px;
margin-top: 100px;
}

form {
position: absolute;
top: 55%;
left: 55%;
margin-top: -150px;
margin-left: -235px;
width: 200px;
}

.button{
  color: rgb(68, 68, 68);
  font-weight:bold;
  font-size:10px;
  background: #2E8AE6;
  height:29px;
  width:118px;
  margin: 16px 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgb(245, 245, 245);
}

#nav li {
	display: inline;
	padding-right: 20px;
	float: right;
	padding-top: 10px;
	line-height: 30px
	/* keeps nav list in line 
	with eachother */
}

#nav div a {
	color: white;
}

#bottombar {
	background-color: #f2f2f2;
	border-top: 2px solid #e4e4e4;
	height: 40px;
	clear: both;
	position: fixed;
	margin-top: 215px;
	left: 0;
	bottom: 0;
	width: 100%;
}
#bottom-left li{
	display: inline;
	padding-right: 20px;
	float: left;
}

#bottombar a {
	color: gray;
}

#bottom-right li{
	display: inline;
	margin-right: 27px;
	float: right;
}

div.header {
    height: 30px;
    width: 75px;
    border-color: #6495ED;
    background-color: #000080;
    border-radius: 5px;
    text-align: center;  
}

a {
	text-decoration: none;
}

